.advantages__list-item-bg {
    background-size: 100% 100%;
}

.advantages__list {
    @include no-list;
    display: block;
    max-width: 2000px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "b b"
            "a a"
            "d p";
    }

    &-item {
        display: flex;
        justify-content: space-between;

        &--brand {
            display: flex;
            flex-direction: column-reverse;
            @media (min-width: $tablet-width) {
                grid-area: b;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            & .advantages__list-item-bg {
                min-height: 312px;
                background-image: url("../img/dest/transform-brand.png");
                background-repeat: no-repeat;
                background-position: center center;
            }

            & a {
                position: relative;
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;
                    background: #fad400;
                    bottom: -3%;
                    left: -5%;
                    opacity: 0.25;
                    border-radius: 28px;
                    width: 137px;
                    height: 10px;
                }
            }
        }

        &--audience {
            display: block;
            @media (min-width: $tablet-width) {
                grid-area: a;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            & .advantages__list-item-bg {
                min-height: 312px;
                background-image: url("../img/dest/right-audience.png");
                background-repeat: no-repeat;
            }

            & a {
                position: relative;
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;

                    background: #fe7766;
                    bottom: -3%;
                    left: -5%;
                    opacity: 0.25;
                    border-radius: 28px;
                    width: 137px;
                    height: 10px;
                }
            }
        }
        &--design {
            min-height: 600px;
            grid-area: d;
            background-image: url("../img/dest/graphic-design.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: $basic-green;

            & .text-title-h5 {
                color: $basic-green;
            }
            & div {
                text-align: center;
                margin: auto;
                margin-bottom: 4%;
                max-width: 60%;
            }

            @media (min-width: $desktop-width) {
                background-position: top center;
            }
        }

        &--photography {
            min-height: 600px;
            grid-area: p;
            background-image: url("../img/dest/photography.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            & div {
                text-align: center;
                margin: auto;
                margin-bottom: 4%;
                max-width: 60%;
                color: #19536c;
            }
            @media (min-width: $desktop-width) {
                background-position: top center;
            }
        }
    }
}

.item-text-block {
    max-width: 445px;
    text-align: center;
    margin: auto;
    padding: 64px 24px;

    @media (min-width: $desktop-width) {
        padding: 20% 0;
    }

    & p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.128571px;
    }

    & a {
        font-family: "Fraunces", serif;
        font-size: 15px;
        line-height: 167%;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        color: $dark-blue;
    }
}
