.text-title-h1 {
    color: $white;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    @include no-default-indent;

    @media (min-width: $desktop-width) {
        font-size: 48px;
        line-height: 56px;
    }
}


.text-title-h2 {
    color: $white;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    @include no-default-indent;
    @media (min-width: $desktop-width) {
        font-size: 32px;
        line-height: 44px;
    }
}

.text-title-h3 {
    color: $basic-blue;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    @include no-default-indent;
    @media (min-width: $desktop-width) {
        font-size: 32px;
        line-height: 39px;
    }
}

.text-title-h5 {
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    font-family: "Fraunces", serif;

    color: $dark-blue;
    @include no-default-indent;
}

