.review {
    background-color: #f2f2f2;
    max-width: 2000px;
    margin: 0 auto;
}

.review__wrapper {
    padding: 64px 24px;
    @media (min-width: $tablet-width) {
        padding: 10%;
    }
}

.review__text-title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 65px;

    color: #a7aaad;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 7%;
    }
}

.review__list {
    @include no-list;
    display: grid;
    grid-template-columns: 1fr;
    gap: 65px;

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    &-item {
        text-align: center;

        @media (min-width: $tablet-width) {
            width: 75%;
            display: grid;
            grid-template-rows: 15% 1fr 10% 10%;
        }

        & img {
            margin: 0 auto 58px;
        }
    }
}

.review__list-desc {
    line-height: 178%;
    letter-spacing: -0.128571px;
    color: #5b636d;
    margin-bottom: 69px;
    grid-auto-rows: max-content;
}

.review__list-item-text {
    margin-bottom: 50px;
    @media (min-width: $tablet-width) {
        margin-bottom: 30px;
    }
}

.review__list-h5 {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.1px;

    color: #a7aaad;
}

.review__list-h3 {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;

    color: $dark-blue;
}

.review__list-item--basic-blue .item__list {
    color: $white;
}

.item__list {
    @include no-list;
    text-align: left;
}
